%div.index
  %nav
    %ul
      - @posts.each do |p|
        %li
          %strong
            %a{ :href => '/' + p.permalink }=p.title
%div.right
  %script{ :src => 'http://widgets.twimg.com/j/2/widget.js'}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 2,
      interval: 3000,
      width: 300,
      height: 309,
      theme: {
        shell: {
          background: 'transparent',
          color: '#333333'
        },
        tweets: {
          background: 'transparent',
          color: '#333333',
          links: '#111111'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: false,
        avatars: false,
        behavior: 'default'
      }
    }).render().setUser('mfojtik').start();
