%article
  %header
    %h2 Welcome stranger
  %p.intro
    I assume you've landed on this segment of the Internet by mistake, so let me
    introduce it. This warm place is where I usually write about things
    that are somehow interesting for me and I think they are worth sharing with you.
    I usually write about the
    %a{:href => 'http://deltacloud.org'} project 
    I'm involved in and about my 
    %a{:href => 'http://ruby-lang.org'} favorite programming language
  %br/
%nav
  %ul
    - @posts.each do |p|
      %li
        %time{ :pubdate => :pubdate }=p.last_updated
        %h3
          %a{ :href => '/' + p.permalink }=p.title

