!!! 5
%html{ :lang => :en }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :name => :viewport, :content => "width=device-width, initial-scale=1.0" }
    %title mfojtik.blog
    %script{ :src => '/js/jquery-1.7.1.min.js' }
    %script{ :src => '/js/bootstrap-alert.js' }
    %script{ :src => '/js/jquery.cuteTime.min.js'}
    %script{ :src => '/js/app.js' }
    /[if lt IE 9]
      %script{ :src => '/js/html5.js' }
    %link{ :href => '/css/bootstrap.css', :rel => :stylesheet }
    %link{ :href => '/css/application.css', :rel => :stylesheet }
    %body
      .container
        .content
          .page-header
            .row
              .span7
                %h1
                  - if @title
                    =@title
                  - else
                    %a{ :href => '/'} Michal Fojtik's sick mind
              .span4.bar
                %a{ :href => '/rss' }
                  %i.icon-fire
                  RSS
                |
                %a{ :href => 'http://www.linkedin.com/in/michalfojtik', :target => '_blank' }
                  %i.icon-user
                  LinkedIn
                |
                %a{ :href => 'http://github.com/mifo', :target => '_blank' }
                  %i.icon-cog
                  Github
          .row
            .span7.main=yield
            .span4
              %script{ :src => 'http://widgets.twimg.com/j/2/widget.js'}
              :javascript
                new TWTR.Widget({
                  version: 2,
                  type: 'profile',
                  rpp: 4,
                  interval: 3000,
                  width: 300,
                  height: 309,
                  theme: {
                    shell: {
                      background: 'transparent',
                      color: '#DD4B39'
                    },
                    tweets: {
                      background: 'transparent',
                      color: '#000',
                      links: '#B10C43'
                    }
                  },
                  features: {
                    scrollbar: false,
                    loop: false,
                    live: true,
                    hashtags: true,
                    timestamp: true,
                    avatars: false,
                    behavior: 'default'
                  }
                }).render().setUser('mfojtik').start();
        %footer
          %p
            &copy;  mfojtik's brain is licensed under a
            %a{:href => 'http://creativecommons.org/licenses/by-sa/3.0/us', :target => '_blank'}
              Creative Commons Attribution-Share Alike 3.0 United

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6872750-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
