!!! 5
%html{ :lang => :en }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :name => :viewport, :content => "width=device-width, initial-scale=1.0" }
    %title mfojtik.blog
    %script{ :src => '/js/jquery-1.7.1.min.js' }
    %script{ :src => '/js/jquery.cuteTime.min.js'}
    %script{ :src => '/js/app.js' }
    %link{ :href => '/css/plain.css', :rel => :stylesheet }
    %body
      %h1
        %a{ :href => '/'}="blog"
      - unless @post
        %div.intro
          %blockquote
            I'm a Open Source contributor and I &#x2764; Ruby language.
            I contribute to
            %a{ :href => 'https://github.com/mifo'} various projects
            like
            %a{ :href => 'http://deltacloud.org'} &#916;cloud API
            ,
            %a{ :href => 'http://aeolusproject.org'} Aeolus
            ,
            %a{ :href => 'http://github.com/mifo/tracker'} Tracker
            ,
            %a{ :href => 'http://github.com/mifo/rbovirt'} rbovirt
            etc.
            I'm hopeless Apple user, but I contribute also to Fedora and
            other Linux distributions. For more informations visit my
            %a{ :href => 'http://www.linkedin.com/in/michalfojtik'} LinkedIn
            page. And yes, I like plain-text.
      =yield

  :javascript
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.mifo.sk/" : "http://stats.mifo.sk/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  :javascript
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
