!!!
%html{ :lang => :en }
  %head
    %meta{ :charset => 'utf-8' }
    %title mfojtik.blog
    %script{ :src => '/js/jquery-1.7.1.min.js' }
    %script{ :src => '/js/jquery.cuteTime.min.js'}
    %script{ :src => '/js/app.js' }
    %link{ :href => '/css/grid.css', :rel => :stylesheet }
    %link{ :href => '/css/plain.css', :rel => :stylesheet }
    %body
      .container_12
        - unless @post
          .grid_7.intro.bio
            %blockquote=partial :bio
          %div{ :class => 'grid_4 page_title' }
            %a{ :href => 'http://mifo.sk/rss'} RSS
            %a{ :href => 'http://github.com/mifo'} Github
            %a{ :href => 'http://www.linkedin.com/profile/view?id=23119196'} CV
            %a{ :href => 'http://pgp.mit.edu:11371/pks/lookup?search=mfojtik%40redhat.com'} GPG
        - else
          %nav
            .grid_1
              %a{ :href => '/', :rel => :home, :class => :home }='← back'
            .grid_3.push_8.social
              =partial :social
          .grid_12.title
            %header
              %h1=@post.title

        =yield

  = partial :piwik
  = partial :google if @post
