%feed{ :xmlns => 'http://www.w3.org/2005/Atom' }
  %title mfojtik's blog
  %link{ :href => 'http://mifo.sk/rss', :rel => :self }
  %link{ :href => 'http://mifo.sk'}
  %updated=@posts.first.last_updated.strftime('%a, %d %b %y %T %z')
  %id http://mifo.sk
  %author
    %name Michal Fojtik
    %email mi@mifo.sk

  - @posts.each do |post|
    %entry
      %title=post.title
      %link{ :rel => :alternate, :type => 'text/html', :href => 'http://mifo.sk/%s' % post.permalink}
      %published=post.last_updated.strftime('%a, %d %b %y %T %z')
      %updated=post.last_updated.strftime('%a, %d %b %y %T %z')
      %content{ :type => :html}=markdown(post.body)
