%article
  %header
    - @title = @post.title
    %p.published
      %span.label.notice
        %time{ :pubdate => :pubdate}=@post.last_updated
      &nbsp;
      %span.label
        %a{ :href => '/', :rel => :index } &#8701; Back
    =markdown(@post.body)
    %footer
      %p
        %a.twitter-share-button{ :'data-via' => :mfojtik, :'data-lang' => :en, :href => "https://twitter.com/share" } Tweet
        .g-plusone{ :'data-size' => 'small', :style => :inline }
      %script{ :src => 'http://disqus.com/forums/mfojtik/embed.js'}
