%article
  %header
    %h2=@post.title
    %p
      Published:
      %time{ :pubdate => :pubdate}=@post.last_updated
    =markdown(@post.body)
    %footer
      %p
        %a{ :href => "/"}
          Index
        | Comment | Like | Tweet
