.grid_12
  %article
    =markdown(@post.body)
    %footer
      %ul.breadcrumb
        %li
          %time{ :pubdate => :pubdate}=@post.last_updated
      .g-plusone{ :'data-size' => 'medium', :style => :inline }
      #disqus_thread=partial :disqus
