body {
  font: 13px/1.3 Helvetica,arial,freesans,clean,sans-serif;
  margin : 2pt 20%;
}

* {
  color : #222;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

a, a:visited, a:active, a:hover {
  text-decoration : none;
  border-bottom : 1px solid #ccc;
}

h1, h2, h3, h4, h5, strong,
h1 *, h2 *, h3 *, h4 *, h5 *, strong * {
  font-weight : bold;
}

h2 {
  font-size : 18px;
}

h1 {
  text-align : right;
  font-size : 28px;
}

a:hover {
  border-bottom-color : #777;
  color : #777;
}

body > h1 > a {
  color : #3D423C;
  border : 1px solid #ccc;
  background : #DEDFC5;
  width : 35%;
  height : 66px;
  min-width : 163px;
  text-align : center;
  padding-top : 40px;
  float : right;
}

em, blockquote * {
  font-style : italic;
}

ul {
  padding-left : 0px;
}

ul li {
  list-style-type : none;
  padding : 0.5em 0;
}

.intro {
  padding : 0;
}

.intro > blockquote {
  margin : 0;
  color : #3D423C;
  width : 60%;
  background : #C8C9B5;
  padding : 10px;
  border : 1px solid #ccc;
}

footer {
  margin-top : 20px;
  padding-top : 10px;
  clear : both;
}

.index {
  width : 60%;
  padding : 11px 19px 0 3px;
  float : left;
}

.right {
  margin-top : 30px;
  width: 35%;
  padding : 1px;
  float : right;
  background-color : #F5F7BD;
  color : #3D423C;
}

pre {
  background : #eee;
  padding : 0.3em;
  border : 1px solid #ddd;
}

.twtr-hd {
  text-align : right;
}

.twtr-ft {
  display : none;
}

header h2 {
  padding : 47px 0;
  height : 23px;
}
