body {
  min-width : 960px;
}

a, a:visited, a:active, a:hover {
  text-decoration : none;
  color : #1985b5;
  border-bottom : 1px solid #ccc;
}

h1, h2, h3, h4, h5, strong,
h1 *, h2 *, h3 *, h4 *, h5 *, strong * {
  font-weight : bold;
}

.intro blockquote {
  margin-left : 0;
}

a:hover {
  border-bottom-color : #777;
  color : #777;
}

em, blockquote * {
  font-style : italic;
}

ul {
  padding-left : 0px;
}

ul li {
  list-style-type : none;
  padding : 0.5em 0;
}

footer {
  margin-top : 20px;
  padding-top : 10px;
  clear : both;
}

pre {
  background : #eee;
  padding : 0.3em;
  border : 1px solid #ddd;
}

.twtr-ft {
  display : none;
}

header h2 {
  padding : 47px 0;
  height : 23px;
}

.page_title {
  text-align : center;
  vertical-align : middle;
  height : 3em;
  padding-top : 2em;
}

.intro {
  padding : 5px 0 5px 0;
}
